        <div id="page-mint">
            <div class="triangle-up"> </div>
            <div class="content">
                <div class="text-info">
                    {{ page.caption|safe }}
                    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas mi id iaculis interdum. Nam lacinia dui massa, quis viverra ante dictum ac. Ut commodo justo eget mi gravida, eu malesuada nisi blandit. -->
                </div>
                <!-- <img class="logo" src="mint/logo-mint.png" /> -->
                <img class="logo" src="{{page.logo.url}}" />
                <img class="hands" src="{{page.left_image.url}}" />
            </div>
            <div class="triangle-down"> </div>
            <!-- <img class="info" src="mint/infographic.png" /> -->
            <img class="info" src="{{page.right_image.url}}" />
        </div>
