<div id="banner-top">
    <div class="left"
        style="background-image:url('{{page.image.url}}');">
        <div class="text-info">
            <!-- <img src="akto-box-photo.png" /> -->
            <img src="{{page.logo.url}}" />
            <span>
                <!-- Жидкая аэрозольная повязка&nbsp;Актовитдерм® -->
                {{page.title}}
            </span>
        </div>
    </div>
    <div class="right">
        <img class="banner free" src="{{page.free_delivery_button.url}}" />
        <img class="banner non-free" src="{{page.banner.url}}" />
        <br/>
        <img class="button" src="static/top/button.png" />
    </div>
</div>
<div class="clear"></div>
